<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" class="left-menu" side="start">
      <ion-header class="head">
        <div class="enappd-header">
          <div class="logo">
            <img src="assets/imgs/1.png" />
          </div>
          <!-- <div class="title">Life</div>
          <div class="subtitle">Liquor, Cocktails & More</div> -->
        </div>
      </ion-header>
      <ion-content>
        <!--Beginner Features-->
        <ion-list class="list-padd ion-no-margin ion-no-padding">
          <ion-list-header color="warning">
            <ion-label>Menú Principal</ion-label>
          </ion-list-header>
          <div *ngFor="let p of beginnerMenu">
            <div *ngIf="p.children && !p.module">
              <ion-item color="warning" detail (click)="expandMenu(p.title)">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{ p.title }}
                </ion-label>
              </ion-item>
              <div class="zero-h" [ngClass]="{'animate-expand': (showChildren === p.title)}">
                <ion-menu-toggle auto-hide="false" *ngFor="let option of p.children">
                  <ion-item color="light" class="ion-padding-start" [ngClass]="{'disabled':option.disabled}"
                    (click)="redirectPage(option)">
                    <ion-icon slot="start" [name]="option.icon"></ion-icon>
                    <ion-label>
                      {{ option.title }}
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </div>
            </div>
            <div *ngIf="p.children && p.module === 'sidemenu'">
              <ion-item color="light" detail (click)="expandMenu(p.title)">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{ p.title }}
                </ion-label>
              </ion-item>
              <div *ngIf="showChildren === p.title" class="zero-h"
                [ngClass]="{'animate-expand': (showChildren === p.title)}">
                <ion-menu-toggle auto-hide="false" *ngFor="let option of p.children;let i = index">
                  <ion-menu-button autoHide="false" menu="end">
                    <ion-item color="light" (click)="showSidemenu(i)" class="ion-padding-start"
                      [routerLink]="[option.url]">
                      <ion-icon slot="start" [name]="option.icon"></ion-icon>
                      <ion-label>
                        {{ option.title }}
                      </ion-label>
                    </ion-item>
                  </ion-menu-button>
                </ion-menu-toggle>
              </div>
            </div>
            <div *ngIf="!p.children">
              <ion-menu-toggle auto-hide="false">
                <ion-item color="light" [routerLink]="[p.url]" detail>
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>
                    {{ p.title }}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </div>
          </div>
          <ion-item color="Netflix" detail (click)="logout()" class="ion-margin-top">
            <ion-icon slot="start" name="log-in"></ion-icon>
            <ion-label>
              Cerrar Sesión
            </ion-label>
          </ion-item>
          <ion-text>
            <p class="version">Version 1.0.0 | &copy; Sofcor 2022</p>
          </ion-text>
          <hr style="background: #f4f4f4" />
        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>