<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <div slot="start" class="toolbarDiv">
      <ion-title color="dark" class="title-md" mode="md">
        ayuda
      </ion-title>
      </div>
  </ion-toolbar>
</ion-header>

  
<ion-content>

      <ion-text >
        <h1>Contáctanos</h1>
      </ion-text>
     
     </ion-content>  
    
      
<ion-content>   
  <ion-footer>
    <ion-toolbar color="warning">
      <ion-buttons >
        <ion-button [routerLink]="'/telefono'"> Hablemos por Whatsapp </ion-button>
      </ion-buttons>
    </ion-toolbar>
  
  </ion-footer>
    


  <ion-text color="primary">
    <h2>H2: </h2>
  </ion-text>




</ion-content>  
  

  
  

   
  

