<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="start" color="undefined" class="btn-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Life
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" #content>
  <nav class="menu">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
      <!-- <span class="lines line-1"></span>
        <span class="lines line-2"></span>
        <span class="lines line-3"></span> -->
      <img src="../assets/imgs/app.jpg">
    </label>

    <a href="agenda" class="menu-item blue"><img src="../assets/imgs/info.png"><i class="fa fa-anchor"></i></a>
    <a href="cursos" class="menu-item green"><img src="../assets/imgs/cursos.webp"><i class="fa fa-coffee"></i></a>
    <a href="pedidos" class="menu-item red"><img src="../assets/imgs/domicilios.webp"><i class="fa fa-heart"></i></a>
    <a href="promociones" class="menu-item purple"><img src="../assets/imgs/promocion.webp"><i
        class="fa fa-microphone"></i></a>
    <a href="tiendas" class="menu-item orange"><img src="../assets/imgs/tiendas.webp"><i class="fa fa-star"></i></a>
    <a href="#" class="menu-item lightblue"><img src="../assets/imgs/icono.webp"><i class="fa fa-diamond"></i></a>
  </nav>
</ion-content>